body {
    margin: 0;
}

h1 {
    text-align: center;
}
h1 {
    text-align: center;
}

div {
    padding-left: 10px;/* отступ в начале предложения */
}
h1 {
    text-align: center;
}

div {
    margin-top: 10px; /* один отступ между строками */
}
